.tm-double-border-1,
.tm-double-border-2 {
  border: 1px solid #fff;
  position: relative;
  /* border-color: #cdcecf; */
}

.tm-double-border-2 {
  top: 10px;
  left: 10px;
  padding: 5px 14px 14px 5px;
}

.tm-brand-box {
    box-sizing: content-box;
    max-width: 230px;
    min-height: 60px;
    color: white;
    text-align: center;
  }

.box-left-top{
    position: absolute;
    left: 20px;
    top: 20px;
}

.bg-color {
    background-color: #bdbdbd;
}

.bd-color{
    border-color: #bdbdbd;
}
